body{
    background-color: lightsteelblue;
  }

  h1{
    color:oldlace;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 1em;

  }

  h4{
    color: dimgray;
    text-align: center;
    margin-top: 100px;
  }

  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: dimgray;
    margin-top: 1em;
    margin-bottom: 1em;
    }

  .line{
    text-align: center;
    position: relative;
  }

  .icons{
    display: block;
    font-size: 5em;
    text-align: center;

  }

  a{
    text-decoration: none;
    color: mistyrose;
  }

  a:visited{
    color: dimgray;
  }