body{
    background-color: lightsteelblue;
  }

  h1{
    color:oldlace;
    text-align: center;
    margin-top: 100px;

  }

  h4{
    color: dimgray;
    text-align: center;
    margin-top: 100px;
  }

  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: dimgray;
    margin-top: 100px;
  }

  .line{
    width: 300px;
    height: 300px;
    position: relative;
  }

  .bubble{
    position: absolute;
    left: 93px;
    top: 21px;
    width: 135px;
    height: 84px;
    display: table;
  }

  .bubble p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .icons{
    display: block;
    font-size: 5em;
    text-align: center;

  }

  a{
    text-decoration: none;
    color: mistyrose;
  }

  a:visited{
    color: dimgray;
  }