body{
    background-color: lightsteelblue;
  }

  h1{
    color:oldlace;
    text-align: center;
    margin-top: 100px;

  }

  h4{
    color: dimgray;
    text-align: center;
    margin-top: 100px;
  }

  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: dimgray;
    margin-top: 100px;
  }

  .centered{
    position: fixed;
    width: 50%;
    margin: auto;
    padding: 10px;
  }

  a{
    text-decoration: none;
    color: mistyrose;
  }

  a:visited{
    color: dimgray;
  }